<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="0"/>
        <env name="KERNEL_CLASS" value="Amoifr\PicklePantherBundle\Tests\Application\Kernel"/>
        <env name="PANTHER_WEB_SERVER_DIR" value="./tests/Application/public"/>
        <env name="PANTHER_NO_SANDBOX" value="1"/>
        <env name="PICKLE_PANTHER_OUTPUT_DIR" value="./tests/Application/var/pickle-panther"/>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="Symfony\Component\Panther\ServerExtension"/>
        <bootstrap class="Amoifr\PicklePantherBundle\Report\HtmlReportExtension">
            <parameter name="output_dir" value="tests/Application/var/pickle-panther"/>
        </bootstrap>
    </extensions>
</phpunit>
